.Weather {
  font-family: arial, sans-serif;
  background-color: #bbebf4;
  border: 1px solid #bbebf4;
  border-radius: 4px;
  margin: 0 auto;
  padding: 16px;
  color: #70757a;
}

.Weather h1 {
  font-size: 45px;
  font-weight: bold;
  margin: 20px 0;
  line-height: 29px;
  color: #ebafdf;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.Weather .temperature {
  font-weight: bold;
  color: #ebafdf;
  font-size: 64px;
  line-height: 64px;
  margin-left: 5px;
  margin-left: 10px;
}

.Weather .unit {
  color: #ebafdf;
  font-size: 20px;
  font-weight: 400;
  position: relative;
  top: -35px;
}

.Weather canvas {
  margin: 0 auto;
}

.form-control {
  border-color: #bbebf4 !important;
}
